<html>
    <head>
        <title>Chat Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- <h3>You: {{me.username}}</h3>
    <h3>Thread: {{user.username}}</h3> -->
    <ul>
        <!-- {% for message in messages %}
        <li>[{{message.sender.username}}]: {{message.text}}</li>
        {% endfor %} -->
    </ul>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="message" id="message" required>
        <input type="submit" value="Send" class="btn">
    </form>
    <script>
        let location = window.location

        const ws = 'ws://'
        if(location.protocol == 'https://'){
            ws = 'wss://'
        }

        let endpoint = ws + location.host + location.pathname

        let socket = new WebSocket(endpoint)

        socket.onmessage = function(e){
            console.log('message', e)
        }
        socket.onopen = function(e){
            console.log('open', e)
        }
        socket.onerror = function(e){
            console.log('error', e)
        }
        socket.onclose = function(e){
            console.log('close', e)
        }
    </script>
    </body>
</html>
